@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");
:root {
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #f49345);
    --gradient-bar: linear-gradient(103.97deg, #AE67FA -13.86%, #f49345);
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #B1AFFD;
    --color-subtext: #FFBA71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    scroll-margin: 50px 0px;
    scroll-padding-top: 50px;
}

body {
    @apply font-poppins;
    overscroll-behavior: contain;
}

.home__wrapper {
    scroll-behavior: smooth;
}

.links-item {
    @apply relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !important;
}

.links-item::before {
    content: "";
    @apply w-0 h-[2px] absolute top-auto bottom-0 bg-blue-400 rounded-sm transition-all duration-500;
    left: 50%;
    transform: translateX(-50%);
}

.links-item:hover::before {
    @apply w-full;
}

.btn {
    -webkit-tap-highlight-color: transparent !important;
}

@keyframes scaleanimation {
    from {
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(1, 1) translateY(0%);
    }
}

.service-links .swiper-scrollbar-drag {
    height: 0 !important;
}

@media screen and (max-width: 767px) {
    .service-links .swiper-scrollbar-drag {
        height: 12 !important;
    }
    .links-item::before {
        @apply left-0 translate-x-0 bottom-[-2px];
    }
    @keyframes scaleanimation {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: scale(1, 1) translateX(0%);
        }
    }
}

.transiton-bg-color {
    /* @apply transition; */
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.transition-bg:hover {
    @apply bg-slate-300;
    transition: background-color 0.4s ease;
}

.scale-navigate {
    @apply scale-0;
}

.scale-navigate.active {
    @apply scale-100;
}

.slide::before,
.slide::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    @apply bg-red-500 bg-opacity-20;
}

.slide::after {
    @apply right-[-40%] rotate-[30deg] bottom-[-30%];
    animation: moveright 2s infinite;
    animation-direction: alternate;
}

.slide::before {
    @apply left-[-40%] rotate-[30deg] top-[-30%];
    animation: moveleft 3s infinite;
    animation-delay: 1.2s;
    animation-direction: alternate;
}

.slide {
    cursor: grab;
}

.scale-animate {
    animation: scale 2s infinite;
    animation-direction: alternate;
}

@keyframes scale {
    from {
        scale: 0.6;
        @apply shadow-xl;
    }
    to {
        scale: 0.8;
        @apply shadow-2xl;
    }
}

@keyframes moveright {
    to {
        @apply right-[-45%];
    }
}

@keyframes moveleft {
    to {
        @apply left-[-45%];
    }
}

.testimonial {
    @apply transition-all translate-y-10 opacity-0 duration-700;
}

.testimonial.active {
    @apply opacity-100 translate-y-0;
}

.cal-width {
    --w: 400px;
    width: min(var(--w), calc(100vw - 30px));
}

.scale-info {
    animation: scaleanimation 0.4s;
}

.swiper-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px !important;
}

.swiper-scrollbar::-webkit-scrollbar-thumb {
    @apply border-slate-400 bg-slate-600 border-[3px] rounded-[20px];
}

.swiper-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
}

.swiper-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
}

.cal-width {
    width: min(300px, calc(100vw - 20px));
}

.chat-height {
    height: calc(100vh - 200px);
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: orange;
}

.swiper-button-nxt.swiper-button-disabled,
.swiper-button-pre.swiper-button-disabled {
    opacity: 0 !important;
    transform: opacity 0.4s ease;
    cursor: not-allowed;
}

.chat-container {
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.chat-container.active {
    visibility: visible;
}

.chat-sm-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease, transform 0.3s ease;
}

.chat-container.active .chat-sm-container {
    opacity: 1;
    transform: translateY(0px);
}

.service-links .swiper-scrollbar {
    background-color: transparent !important;
}

.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 100%;
}